.book-details-page {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 1;
  border: green 2px solid;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-container {
  display: flex;
  gap: 40px;
  margin-top: 25px;
}

.details-image img {
  width: 280px;
  height: 380px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.details-info {
  flex: 1;
}

.history-section {
  margin-top: 40px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.history-table th,
.history-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.history-table th {
  background: #f2f2f2;
}

.status-borrowed {
  color: orange;
  font-weight: bold;
}

.status-returned {
  color: green;
  font-weight: bold;
}

.status-overdue {
  color: red;
  font-weight: bold;
}
